* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
    height: 100px;
}

@media (max-width:430px) {
    img {
        width: 50px;
        height: 50px;
    }
}

/* full screen div */
.control {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.315);
    z-index: 2;
}

.control span {
    font-size: 50px;
    background-color: #FF5722;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width:430px) {
    .control span {
        font-size: 20px;
    }
}


.row .game-blocks {
    width: 90%;
    height: 100%;
}

.block {
    width: calc(950px/5);
    height: 110px;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

@media (max-width:430px) {
    .block {
        width: calc(200px/3);
        height: 80px;
    }
}

.block div {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.front {
    background: #607D8B;
    color: black;
    font-size: 70px;
}

/* rotating the card  */
.rotated, .match {
    pointer-events: none;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

/* success popup */
.success-popup, .fail-popup {
    z-index: -20;
    width: 340px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}